html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 190px;
    height: 390px;
    background-color: rgb(36, 246, 243);
    padding: 5px 20px 0px;
    border-radius: 10px;
}
ul{
    list-style-type: none;
    
}
li{
    text-align: left;
    
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
  
}
.header {
    background-color: rgb(241, 247, 247);
    min-height: 150px;
    text-align: center;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    
}
.footer {
    background-color: rgb(245, 245, 245);
    min-height: 150px;
    text-align:left;
    padding-left: 20px;
}
.tr-serviços{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 5px;
}
.tr-preços{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 5px;   
}